# make sure that no data is sent to github
cleaning/electricity-consumption/data/*
cleaning/electricity-prices/data/*
cleaning/electricity-production/data/*
cleaning/weather/pre_processed_data
cleaning/weather/raw_data
cleaning/weather/data
cleaning/data/*
analysis/data
automation/models/*
automation/input_files/*
automation/config/*
*.ipynb_checkpoints
*.csv
*.xls
*.png
.txt
*.sav

# macos storage files
*.DS_Store*
