# make sure that no data is sent to github
cleaning/electricity-consumption/data/*
cleaning/electricity-prices/data/*
cleaning/electricity-production/data/*
cleaning/weather/pre_processed_data
cleaning/weather/raw_data
cleaning/weather/data
cleaning/data/*
analysis/data
*.ipynb_checkpoints
*.csv
*.xls
.txt

# macos storage files
*.DS_Store*
